{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Membro</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
</head>
<body>
    {% if membros %}
        <h6>Ultimos membros cadastrados</h6>
        {% for membro in membros %}
            <p>{{membro.nome}}</p>
        {% endfor %}
    {% else %}
        <p>Maravilha você será o primeiro da plataforma! UAU!</p>
    {% endif %}


    <div class="login-container">    
        <h2>Cadastrar</h2>
        <form action="#" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
            <input type="password" name="senha" placeholder="Digite sua senha" required>
            <select>
                {% for genero in generos %}
                    <option value="{{chave}}">{{genero.nome}}</option>
                {% endfor %}
            </select>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
